.header{
 display: flex;
 flex-flow: row nowrap;
 background-color: rgb(7, 7, 7);
 margin-bottom: 1rem;
 max-height: 70px;
 border-bottom: 1px solid rgb(63, 63, 63);
 overflow: hidden;
 justify-content: space-between;


  button{
    background-color: #000;
    border: 1px solid rgb(247, 0, 255);
    border-radius: .5rem;
    transition: all .5s ease;

    p{
      font-weight: 700;
      background: linear-gradient(to bottom, rgb(160, 0, 253) 0%,rgb(247, 0, 255) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover{
      background: linear-gradient(to bottom, #fff 0%,#fff 100%);
    }
  }
}

.title{
 margin: 0;
 padding: 1rem;
 background: linear-gradient(to bottom, rgb(160, 0, 253) 0%,rgb(247, 0, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}