/* You can add global styles to this file, and also import other style files */
*{
 box-sizing: border-box;

 &::after,&::before{
  box-sizing: inherit;
 }
}

body{
 background-color: rgb(0, 0, 0);
 color: #fff;
 font-family: 'Montserrat', sans-serif;
}
